@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(87, 87, 87);
    min-height: 100vh;
    display: flex;
    justify-content: center;

}



.content {
    background-color: #afafaf;
    width: 70%;
    margin: 20px 0;
    box-shadow: 0 0 5px 0px #fff;

}

.info {
    display: flex;
    align-items: center;
    width: 250 px;
    background-color: gray;


}

.info>.img {
    margin: 20px;
    width: 200px;
    height: 250px;
    border: solid 2px #000;
    overflow: hidden;
    /* text-align: center; */
    /* display: flex; */
    /* align-items: ; */
}
.info>.img>img{
    height: 100%;
    margin-left: -70%;
}

.info>.item {
    margin: 0 50px;
}

.info>.item>h3 {

    margin-top: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
}

.container>.sidebar {
    margin: 20px;
    background-color: #cfcfcf;
    width: 200px;
    padding: 10px;
}

.container>.sidebar>h4 {
    margin-bottom: 10px;
}

.container>.sidebar>ul {
    margin-left: 25px;
}

.container>.description {
    margin: 20px 20px 20px 20px;
    background-color: #cfcfcf;
    width: 500px;
    padding: 10px;

}

.container>.description>h3 {
    margin-bottom: 15px;
}

.container>.description>.work {
    margin-bottom: 30px;
}

.container>.description>.work>.name-work {
    margin-left: 5px;
    margin-bottom: 10px;
}

.container>.description>.work>.work-description {
    margin-left: 5px;
    text-align: justify;
}

ol {
    margin-left: 20px;
}

@media (max-width: 898px) {
    .info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .info>.item>h3 {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .content {
        width: 98%;
    }

    .info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .info>.item {
        margin: 0 5px;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container>.sidebar{
        width: 100%;
    }
}
